{% extends 'base.html.twig' %}

{% block title %}Détail du Service{% endblock %}

{% block body %}
<div>
    <h1 class="text-2xl font-bold">{{ service.title }}</h1>
    <p class="mt-4">{{ service.description }}</p>
    <p class="mt-4 font-semibold text-blue-600">{{ service.price }} €</p>
    <p class="mt-4"><a href="{{ service.demoUrl }}" class="text-blue-500 underline">Voir la démo</a></p>
</div>
{% endblock %}
