{% extends 'base.html.twig' %}

{% block title %}Liste des Clients{% endblock %}

{% block body %}
<h1>Liste des Clients</h1>

<table class="table-auto border-collapse border border-gray-200 w-full mt-5">
    <thead>
        <tr>
            <th class="border border-gray-300 px-4 py-2">Nom</th>
            <th class="border border-gray-300 px-4 py-2">Email</th>
            <th class="border border-gray-300 px-4 py-2">Vérifié</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
            <tr>
                <td class="border border-gray-300 px-4 py-2">Client {{ loop.index }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ client.email }}</td>
                <td class="border border-gray-300 px-4 py-2">
                    {{ client.verified ? 'Oui' : 'Non' }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
