{% extends 'base.html.twig' %}

{% block title %}Liste des Freelancers{% endblock %}

{% block body %}
<h1>Liste des Freelancers</h1>

<table class="table-auto border-collapse border border-gray-200 w-full mt-5">
    <thead>
        <tr>
            <th class="border border-gray-300 px-4 py-2">Nom</th>
            <th class="border border-gray-300 px-4 py-2">Email</th>
            <th class="border border-gray-300 px-4 py-2">Portfolio</th>
            <th class="border border-gray-300 px-4 py-2">Disponible</th>
        </tr>
    </thead>
    <tbody>
        {% for freelancer in freelancers %}
            <tr>
                <td class="border border-gray-300 px-4 py-2">Freelancer {{ loop.index }}</td>
                <td class="border border-gray-300 px-4 py-2">{{ freelancer.email }}</td>
                <td class="border border-gray-300 px-4 py-2">
                    <a href="{{ freelancer.portfolio }}" target="_blank">Portfolio</a>
                </td>
                <td class="border border-gray-300 px-4 py-2">
                    {{ freelancer.available ? 'Oui' : 'Non' }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
