{% extends 'base.html.twig' %}

{% block title %}Détails du Client{% endblock %}

{% block body %}
<h1>Détails du Client</h1>

<p><strong>Email :</strong> {{ client.email }}</p>
<p><strong>Vérifié :</strong> {{ client.verified ? 'Oui' : 'Non' }}</p>

<a href="{{ path('client_list') }}" class="text-blue-500">Retour à la liste des Clients</a>
{% endblock %}
